h1 {
    text-align: center;
    color:rgb(227, 14, 96)
}

h2{
    text-align: center;
}

.button1{
    font-size:100px;
    background-color: rgb(255, 156, 214);
    color:rgb(0, 0, 0)
}

.button2 {
    font-size: 100px;
    background-color: rgb(112, 192, 241);
    color: rgb(0, 0, 0)
}

.button3 {
    font-size: 100px;
    background-color: rgb(222, 255, 176);
    color: rgb(0, 0, 0)
}

body {
    background-color: rgb(255, 210, 244);
}
